/* .hero-section-gif{
    background-image: url('/images/bgvid.gif');
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100% !important;
    height: 100% !important;
}

.seventhsection{
    background-image: url('/images/seven-section-bg.png');
    background-size: contain;
    background-position: center bottom;
    border-radius: 14px;
}

.swiper-slide-shadow-right.swiper-slide-shadow-coverflow {
    border-radius: 16px;
}

.offer-bg{
    background-image: url('/images/offer1.png');
    background-size: cover;
    background-position: top center;
}

.offer-txt-bg{
    background-image: url('/images/offer-text-bg.png');
    background-size: 100%;
    background-position: center;
}


.wholesale-hero-img{
    background-image: url('/images/wholesale-hero.jpg');
    background-size: 100%;
    background-position: center;
}
